affine==2.4.0
attrs==25.4.0
bcrypt==5.0.0
blinker==1.9.0
branca==0.8.2
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
click-plugins==1.1.1.2
cligj==0.7.2
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
et_xmlfile==2.0.0
fiona==1.10.1
Flask==3.1.2
Flask-Bcrypt==1.0.1
flask-cors==6.0.1
Flask-JWT-Extended==4.7.1
Flask-SQLAlchemy==3.1.1
folium==0.20.0
fonttools==4.60.1
geopandas==1.1.1
greenlet==3.2.4
gunicorn==23.0.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.2
kiwisolver==1.4.9
MarkupSafe==3.0.3
matplotlib==3.10.7
networkx==3.5
numpy==2.3.4
openpyxl==3.1.5
osmnx==2.0.6
packaging==25.0
pandas==2.3.3
pillow==12.0.0
psycopg2-binary==2.9.11
pygame==2.6.1
PyJWT==2.10.1
pyogrio==0.11.1
pyparsing==3.2.5
pyproj==3.7.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
rasterio==1.4.3
rasterstats==0.20.0
requests==2.32.5
scikit-learn==1.7.2
scipy==1.16.3
shapely==2.1.2
simplejson==3.20.2
six==1.17.0
SQLAlchemy==2.0.44
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
Werkzeug==3.1.3
xyzservices==2025.10.0
