.sidebar-container { 
  width: 350px; 
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  padding: 20px;
  box-sizing: border-box; 
  min-height: calc(100vh - 70px);

  overflow-y: auto; 
}

.tab-container {
  display: flex;
  margin-bottom: 20px;
  background-color: var(--header-bg);
  border-radius: 8px;
  padding: 5px;
}

.tab {
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  color: var(--text-secondary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tab.active {
  background-color: var(--accent-color);
  color: var(--bg-secondary); 
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.tab:not(.active):hover {
  background-color: var(--border-color);
  color: var(--text-primary);
}

.tab-content {
}