.top-nav-container {
  background-color: var(--header-bg);
  color: var(--text-primary);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-links a,
.user-menu a, 
.user-menu span {
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px; 
  border-radius: 5px; 
  font-weight: bold; 
  color: var(--text-secondary);
  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
  text-decoration: none; 
}

.menu-links a {
  margin: 0 10px; 
}

.user-menu a,
.user-menu span {
  margin-left: 20px;
}

.menu-links a:hover,
.user-menu a:hover, 
.user-menu span:hover {
  transform: scale(1.1);
  color: var(--text-primary); 
}

.menu-links a.active,
.user-menu a.active {
  background-color: var(--accent-color); 
  color: var(--bg-secondary); 
  transform: scale(1.05); 
  box-shadow: 0 0 8px rgba(167, 217, 185, 0.2); 
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); 
  
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal-content button {
  background-color: var(--header-bg);
  color: var(--text-primary);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
}

.modal-content button:hover {
  background-color: var(--accent-color);
}

.app-logo {
  height:50px; 
  width: auto; 
  margin-right: 10px; 
  vertical-align: middle;
}

.user-menu a[href="/AdminPage"] {
  color: var(--danger-color); 
}

.user-menu a[href="/AdminPage"]:hover {
  color: var(--danger-color); 
}

.user-menu a[href="/AdminPage"].active {
  background-color: var(--danger-color);
  color: var(--bg-main);
  box-shadow: 0 0 8px rgba(255, 128, 128, 0.2);
}

.user-menu .user-greeting {
  display: inline-block;
  padding: 8px 12px; 
  border-radius: 5px; 
  font-weight: bold; 
  color: var(--accent-color); 
  margin-left: 20px;
  cursor: default;
  transition: color 0.2s ease;
}

.user-menu .logout-btn {
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px; 
  border-radius: 5px; 
  font-weight: bold; 
  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
  text-decoration: none; 
  margin-left: 20px;
  
  background-color: var(--danger-color);
  color: var(--bg-secondary); 
  border: 1px solid var(--text-primary); 
  
  transform: none; 
}

.user-menu .logout-btn:hover {
  background-color: var(--danger-color); 
  color: var(--text-primary); 
  border-color: var(--accent-color); 
  transform: scale(1.05); 
}